.banner-1 {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.banner-1 .container {
  background-image: url(../assets/background/frame1.jpg);
  background-repeat: no-repeat;
  width: 1024px;
  height: 100%;
}
.banner-1 .container .text {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.banner-1 .container .text .title {
  text-align: right;
}
.banner-1 .container .text .title h1 {
  font-size: 120px;
}
.banner-1 .container .text .title h2 {
  font-size: 80px;
}
.banner-1 .container .text .line {
  width: 2px;
  height: 87px;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 68px;
  margin-right: 68px;
}
.banner-1 .container .text .subtitle {
  text-align: right;
  font-size: 40px;
  line-height: 1.5;
  margin-top: 5px;
}
.banner-1 .container .text .subtitle .send {
  margin-top: -40px;
}
.banner-1 .container .list {
  display: grid;
  place-items: center;
}
.banner-1 .container .list .block {
  display: flex;
  width: 904px;
  height: 52px;
  color: rgb(63, 1, 64);
  font-size: 24px;
  justify-content: center;
}
.banner-1 .container .list .list-name {
  width: 330px;
  display: flex;
  font-size: 24px;
  margin-left: 330px;
}
.banner-1 .container .list .list-name .och {
  margin-left: 40px;
}
.banner-1 .container .list .list-name .rg {
  margin-left: 39px;
}
.banner-1 .container .list .list-name .b {
  margin-left: 35px;
}
.banner-1 .container .list .list-name .h {
  margin-left: 35px;
}
.banner-1 .container .list .list-name .p {
  margin-left: 35px;
}
.banner-1 .container .list .list-type {
  display: grid;
  margin-top: -15px;
  gap: 3px;
}
.banner-1 .container .list .name {
  width: 442px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}
.banner-1 .container .list .name .img {
  width: 52px;
  height: 52px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-1 .container .list .name .img img {
  width: 44px;
  height: 44px;
}
.banner-1 .container .list .list-num {
  display: flex;
  width: 288px;
  background-color: #fff;
  align-items: center;
}
.banner-1 .container .list .list-num p {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 52px;
  height: 52px;
}
.banner-1 .container .list .list-num .sect {
  width: 80px;
}
.banner-1 .container .list .score {
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(159, 93, 160);
  color: #fff;
}
.banner-1 .container .list .scors {
  display: flex;
}
.banner-1 .container .list .win-score {
  display: flex;
  width: 130px;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.banner-1 .container .list .win-score .circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: rgb(83, 73, 84);
}
.banner-1 .container .list .win-score .red {
  background-color: rgb(255, 75, 68);
}
.banner-1 .container .list .win-score .green {
  background-color: rgb(0, 170, 84);
}
.banner-1 .container .logotype {
  margin-top: 5px;
  padding: 10px;
}/*# sourceMappingURL=Baner-1.css.map */