.banner-1 {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .container {
        background-image: url(../assets/background/frame1.jpg);
        background-repeat: no-repeat;
        width: 1024px;
        height: 100%;

        .text {
            display: flex;
            align-items: center;
            padding-left: 40px;

            .title {
                text-align: right;

                h1 {
                    font-size: 120px;
                }

                h2 {
                    font-size: 80px;
                }
            }

            .h1 {}

            .line {
                width: 2px;
                height: 87px;
                background-color: #fff;
                margin-top: 20px;
                margin-left: 68px;
                margin-right: 68px;
            }

            .subtitle {
                text-align: right;
                font-size: 40px;
                line-height: 1.5;
                margin-top: 5px;

                .send {
                    margin-top: -40px;
                }
            }
        }



        .list {
            display: grid;
            place-items: center;

            .block {
                display: flex;
                width: 904px;
                height: 52px;
                color: rgba(63, 1, 64, 1);
                font-size: 24px;
                justify-content: center;
            }

            .list-name {
                width: 330px;
                display: flex;
                font-size: 24px;
                margin-left: 330px;

                .och {
                    margin-left: 40px;
                }

                .rg {
                    margin-left: 39px;
                }

                .i {}

                .b {
                    margin-left: 35px;
                }

                .h {
                    margin-left: 35px;
                }

                .p {
                    margin-left: 35px;
                }
            }


            .list-type {
                display: grid;
                margin-top: -15px;
                gap: 3px;
            }

            .name {
                width: 442px;
                background-color: rgba(255, 255, 255, 0.9);
                display: flex;
                align-items: center;
                gap: 20px;
                padding-left: 20px;

                .img {
                    width: 52px;
                    height: 52px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 44px;
                        height: 44px;
                    }
                }
            }


            .list-num {
                display: flex;
                width: 288px;
                background-color: #fff;
                align-items: center;

                p {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    width: 52px;
                    height: 52px;
                }

                .sect {
                    width: 80px;
                }
            }

            .score {
                width: 52px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(159, 93, 160, 1);
                color: #fff;
            }

            .scors {
                display: flex;
            }

            .win-score {
                display: flex;
                width: 130px;
                background-color: rgba(255, 255, 255, 0.9);
                justify-content: center;
                align-items: center;
                gap: 3px;

                .circle {
                    width: 18px;
                    height: 18px;
                    border-radius: 100%;
                    background-color: rgba(83, 73, 84, 1);
                }

                .red {
                    background-color: rgba(255, 75, 68, 1);
                }

                .green {
                    background-color: rgba(0, 170, 84, 1);
                }
            }



        }

        .logotype {
            margin-top: 5px;
            padding: 10px;
        }


    }
}